.footTop {
    width: 100vw;
    padding: 5px 20px;
    font-weight: bold;
}
.footContatiner {
    width: 100vw;
    height: 350px;
    padding: 0px 30px 10px 30px;
}

.footSelect {
    display: flex;
}