body { 
    margin-top: 55px;
}

.detailBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.detailImg {
    width: 300px;
}

.detailContent {
    margin-top: 10px;
    margin-left: 30px;
}

.detailItem {
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 23px;
    margin-bottom: 8px;
}

.detailPrice {
    margin-left: 3px;
    font-family: 'GongGothicMedium';
    font-size: 20px;
}