
.intro {
    font-family: 'GongGothicMedium';
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.introContainer {
    margin : auto;
    width: 500px;
    text-align: center;
    align-items: center;
}

.contentBox {
    background-color: #fff;
    padding: 10px 10px 16px 10px;
    margin: 5px 0px 10px 0px;
    text-align: center;
    border-radius: 8px;
    max-width: 280px;
    min-width: 150px;
    flex-grow: 1;
}

.contentImg {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 12px;
}

.company {
    font-size: 13px;
    font-weight: bold
}
    
.item {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
}
    
.price {
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
